#navitem {
    width: 33%;
    align-items: center;
    align-content: stretch;
}

#navitemwords {
    width: 100%;
    text-align: center;
    font-size: 120%;
}

#contentSection {
    width: 100%;
}

#name {
    margin-top: 5vw;
    font-size: 300%;
    margin-bottom: 2%;
}

body {
    height: 100vh;
}

img {
    height: 100%;
    margin-left: auto;
}

.columns.is-mobile.is-centered {
    height: 65%;
}

.column {
    display: flex;
    justify-content: center;
}

svg {
    width: 100%;
    height: auto;
}

#choosetaste {
    top: 50%;
    z-index: 1;
    position: absolute;
    width: 100%;
    visibility: hidden;
}

#martini {
    width:256px;
    height:256px;
    margin: 0;
}

#choosebase {
    z-index: 3;
}

#result {
    top: 50%;
    z-index: 0;
    position: absolute;
    width: 100%;
    justify-content: center;
    visibility: hidden;
}

#vodka, #whisky {
}
