.navbar.is-fixed-top.is-danger {
    height: 8%;
}

.navbar-brand {
    height: 100%;
}

.navbar-burger.burger {
    height: 100%;
}

.navbar-start {
    width: 100%;
}

#navitem {
    width: 33%;
    align-items: center;
    align-content: stretch;
}

#navitemwords {
    width: 100%;
    text-align: center;
    font-size: 120%;
}

#myprofile, #bars, #drink {
    width: 30%;
}

#logout {
    width: 10%;
}