.navbar.is-fixed-top.is-danger {
    style="height: 8%;
}

.navbar-brand {
    height: 100%;
}

.navbar-burger.burger {
    height: 100%;
}

.navbar-start {
    width: 100%;
}

#myprofile, #bars, #drink {
    width: 30%;
}

#logout {
    width: 10%;
}