#navitem {
    width: 33%;
    align-items: center;
    align-content: stretch;
}

#navitemwords {
    width: 100%;
    text-align: center;
    font-size: 120%;
}

#name {
    font-size: 300%;
    margin-bottom: 2%;
}

#bio {
    font-size: 150%;
}

#post {
    border-style: solid;
    border-width: thin;
}

#caption {
    font-size: 120%;
}

#contentSection {
    width: 100%;
}

#reviewbutton {
    margin-top: 5%;
}

#uploadprofilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45%;
    max-width: 80%;
}

.overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #000000;
}

#profpic:hover .overlay {
  opacity: 0.7;
}